* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #0f1111; */
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

#header {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

/* -------- #Logo styles */

/* .logo-link {
  transition: 0.4s;
} */

.logo-link {
  text-decoration: none; /* Removes underline */
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 2.3rem;
  font-weight: 600;
  height: 70px;
}

.char-1 {
  color: black; /* Default color for "P" */
  transition: color 0.3s ease; /* Smooth transition */
}

.char-2 {
  color: #ff004f; /* Default color for "ortfolio" */
  transition: color 0.3s ease; /* Smooth transition */
}

.logo-link:hover .char-1 {
  color: #ff004f; /* Hover color for "P" */
}

.logo-link:hover .char-2 {
  color: black; /* Hover color for "ortfolio" */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  /* padding: 0 15px 0 15px; */
  padding: 0.8rem 5rem 0 5rem;
}

.mode-toggle {
  background-color: transparent;
  border: 2px solid black;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 50px;
  font-size: 0.9rem;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 10px 20px;
}
nav ul {
  padding-left: 15rem;
}
nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  position: relative;
  transition: color 0.5s ease; /* Smooth hover effect */
}

nav ul li a:hover {
  color: #ff004f;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background: #ff004f;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.3s;
}

nav ul li a:hover::after {
  width: 100%;
}

/* Section-1 Hero Section Styles */
.home {
  height: 90vh;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7%;
  gap: 50px;
}
.home img {
  border-radius: 50%;
}

.hero-content {
  color: #ededed;
  max-width: 600px;
}

.hero-content h1 {
  font-size: 3.4rem;
  font-weight: 700;
}

.hero-content h3 {
  font-size: 2.1rem;
  font-weight: 700;
  padding-top: 8px;
  color: #ff004f;
}

.hero-content p {
  font-size: 1rem;
  line-height: 1.8;
  margin: 20px 0 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-content .btn-box {
  width: 325px;
  /* margin-left: 10px; */
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.btn-box a {
  display: inline-flex;
  width: 130px;
  text-decoration: none;
  height: 80%;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background: #ff004f;
  border-radius: 25px;
  font-size: 18px;
  transition: all 0.3s ease;
}

.btn-box a:hover {
  background: white;
  color: #ff004f;
  border: 2px solid #ff004f;
}

/*.btn-box a {
  text-decoration: none;
  color: white;
  background: #ff004f;
  padding: 10px 20px;
  margin-right: 15px;
    font-weight: bold;
  transition: 0.3s ease;
}*/

/*---------------About Section style*/

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 10px;
}

.row img {
  height: 300px;
  width: 300px;
  padding: 20px;
}
